*{
	margin: 0;
	padding: 0;
}
body{
	background:url("./img/bg.jpg"); 
}
#header{
	width: 100%;
	height: 50px;
    background: -webkit-linear-gradient(#999,#c9c9c9, #999);
    background: -o-linear-gradient(#999,#c9c9c9, #999);
    background: -moz-linear-gradient(#999,#c9c9c9, #999);
    background: linear-gradient(#999,#c9c9c9, #999);
}
#daohang{
	width:100%;
	height: 200px;
	background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
} 